body {
  font-family: Arial;
  line-height: 1.6;
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
}
header {
  background-image: url(../img/9.jpg);
  background-size: center; /*A imagem do cabeçalho também cobre totalmente a área*/
  text-align: center; /*Centraliza o texto dentro do cabeçalho*/
  padding: 20px; /*adiciona espaçamento interno ao cabeçalho*/
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: #0c0707;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #4e4e4e;
}
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}
main h1,
main h2 {
  margin-bottom: 20px;
  color: #000000;
  background-color: rgb(178, 17, 252);
  margin: 50px;
}
p {
  font-size: 18px;
  color: #050303;
  line-height: 1.6;
  text-indent: 40px;
}
.video-container {
  margin-top: 10px;
  text-align: center;
}
audio {
  margin-top: 10px;
}
ul {
  text-align: center;
  list-style: none;
}
footer {
  background-color: rgb(178, 17, 252);
  color: #ffffff;
  align-items: relative;
  padding: 10px 5;
  text-align: center;
}
